<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col"><%= t('.name') %></th>
              <th scope="col"><%= t('.email') %></th>
              <th scope="col"><%= t('.content') %></th>
              <th scope="col"><%= t('.created_at') %></th>
              <th scope="col"><%= t('.closed_at') %></th>
            </tr>
            </thead>
            <tbody>
              <%= render @inquiries %>
            </tbody>
          </table>
          <div class="item__paginate">
            <%= paginate @inquiries %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>