<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="table-responsive">
          <%= render 'admin/layouts/search_form', url: admin_vtubers_path %>
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col"><%= t('.channel_name') %></th>
              <th scope="col"><%= t('.channel_url') %></th>
              <th scope="col"><%= t('.name') %></th>
              <th scope="col"><%= t('.icon') %></th>
              <th scope="col"><%= t('.created_at') %></th>
              <th scope="col"><%= link_to t('defaults.vtuber_register'), new_admin_vtuber_path, class: 'btn btn-primary text-center' %></th>
            </tr>
            </thead>
            <tbody>
              <%= render @vtubers %>
            </tbody>
          </table>
          <div class="item__paginate">
            <%= paginate @vtubers %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>