<tr>
  <td>
    <%= song.id %>
  </td>
  <td>
    <%= song.title %>
  </td>
  <td>
    <%= image_tag "https://img.youtube.com/vi/#{song.youtube_id_from_url}/maxresdefault.jpg", width: 150, height: 100, alt: 'Video Thumbnail' %>
  </td>
  <td>
    <%= song.name %>
  </td>
  <td>
    <%= song.artist_name %>
  </td>
  <td>
    <%= l song.created_at, format: :long %>
  </td>
  <td class="d-flex">
    <%= link_to t('defaults.show'), admin_song_path(song), class: 'btn btn-info' %>
    <%= link_to t('defaults.edit'), edit_admin_song_path(song), class: 'btn btn-success' %>
    <%= button_to t('defaults.delete'), admin_song_path(song), method: :delete, data: { turbo_confirm: t('defaults.message.delete_confirm') }, class: 'btn btn-danger' %>
  </td>
</tr>