<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="table-responsive">
          <%= form_with(url: admin_songs_path, method: :get) do |f| %>
            <div class="mb-3">
              <div class="input-group-custom">
                <%= f.text_field :search, class: 'form-control', data: { autocomplete_target: 'input' }, placeholder: t('defaults.search_word') %><br>
                <%= f.select :cover_eq, Song.covers.keys.map.with_index { |k, i| [k, i] }, { include_blank: '選択しない' }, class: 'form-search-select' %>
                <div class="input-group-append">
                  <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          <% end %>
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col"><%= t('.video_title') %></th>
              <th scope="col"><%= t('.thumbnail') %></th>
              <th scope="col"><%= t('.name') %></th>
              <th scope="col"><%= t('.artist_name') %></th>
              <th scope="col"><%= t('.created_at') %></th>
              <th scope="col"><%= link_to t('defaults.song_register'), new_admin_song_path, class: 'btn btn-primary text-center' %></th>
            </tr>
            </thead>
            <tbody>
              <%= render @songs %>
            </tbody>
          </table>
          <div class="item__paginate">
            <%= paginate @songs %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>