<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col"><%= t('.video_title') %></th>
              <th scope="col"><%= t('.thumbnail') %></th>
              <th scope="col"><%= t('.artist_name') %></th>
              <th scope="col"><%= t('.created_at') %></th>
              <th scope="col"><%= link_to t('defaults.song_register'), new_admin_song_path, class: 'btn btn-primary text-center' %></th>
            </tr>
            </thead>
            <tbody>
              <%= render @songs %>
            </tbody>
          </table>
          <%= paginate @songs %>
        </div>
      </div>
    </div>
  </div>
</div>