

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 col-12">
        <div class="text-start lh-base left-link">
          <%= link_to 'Vtuber・曲リクエスト', request_path, method: :get %>
        </div>
      </div>
      <div class="col-sm-1 col-12 text-end right-links">
        <%= link_to 'このアプリについて', about_path %>
      </div>
      <div class="col-sm-1 col-12 text-end right-links">
        <%= link_to '利用規約', terms_path %>
      </div>
      <div class="col-sm-1 col-12 text-end right-links">
        <%= link_to 'プライバシーポリシー', privacy_policy_path %>
      </div>
      <div class="col-sm-1 col-12 text-end right-links">
        <%= link_to 'お問合せ', new_inquery_path %>
      </div>
      <div class="copyright">
          
      </div>
    </div>
  </div>
</footer>