

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-12">
        <div class="text-start lh-base left-link">
          <%= link_to t('footer.request'), new_request_path, method: :get %>
        </div>
      </div>
      <div class="col-sm-2 col-12 text-end right-links">
        <%= link_to t('footer.about'), about_path %>
      </div>
      <div class="col-sm-2 col-12 text-end right-links">
        <%= link_to t('footer.terms'), terms_path %>
      </div>
      <div class="col-sm-2 col-12 text-end right-links">
        <%= link_to t('footer.privacy_policy'), privacy_policy_path %>
      </div>
      <div class="col-sm-2 col-12 text-end right-links">
        <%= link_to t('footer.inquiry'), new_inquiry_path %>
      </div>
      <div class="copyright">
          
      </div>
    </div>
  </div>
</footer>