<div class="container">
  <div class="row">
    <div class="mt-3">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <table class="table table-bordered bg-white">
          <tr>
            <th scope="row" style="width: 120px;"><%= t('.channel_name') %></th>
            <td><%= @vtuber.channel_name %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.channel_url') %></th>
            <td><%= link_to @vtuber.channel_url, @vtuber.channel_url %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.name') %></th>
            <td><%= @vtuber.name %></td>
          </tr>
          <tr>
            <th scope="row">
              <%= t('.icon') %>
            </th>
            <td>
              <div class='mt-3 mb-3'>
              <%= image_tag @vtuber.icon,
                            class: 'rounded-circle',
                            id: 'preview',
                            size: '100x100' %>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row"><%= t('.overview') %></th>
            <td><%= @vtuber.overview %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.member') %></th>
            <td><%= @vtuber.member.name %></td>
          </tr>
          <tr>
            <th scope="row"><%= t('.instrument') %></th>
            <td>
              <% if @vtuber.instruments.any? %>
                <%= @vtuber.instruments.map(&:name).join(', ') %>
              <% else %>
                <%= t('.not_instrument') %>
              <% end %>
            </td>
          </tr>
        </table>

        <div class="ms-auto">
          <%= render 'layouts/search_form', url: vtuber_path(@vtuber) %>
        </div>
        <% if @songs.present? %>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"><%= t('.thumbnail') %></th>
                <th scope="col"><%= t('.video_title') %></th>
                <th scope="col"><%= t('.artist_name') %></th>
                <th scope="col"><%= t('.cover') %></th>
              </tr>
            </thead>
            <tbody>
              <%= render @songs %>
            </tbody>
          </table>
          <div class="item__paginate">
            <%= paginate @songs %>
          </div>
        <% else %>
          <%= t('.no_songs_message') %>
        <% end %>
      </div>
    </div>
  </div>
</div>