<div class="container">
  <div class="row">
    <div class="mt-3">
      <h1><%= t('.title') %></h1>
      <% if @favorites.present? %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"><%= t('.thumbnail') %></th>
              <th scope="col"><%= t('.video_title') %></th>
              <th scope="col"><%= t('.artist_name') %></th>
              <th scope="col"><%= t('.cover') %></th>
            </tr>
          </thead>
          <tbody>
            <% @favorites.each do |favorite| %>
              <tr>
                <td>
                  <%= link_to song_path(favorite.song) do %>
                    <%= image_tag "https://img.youtube.com/vi/#{favorite.song.youtube_id_from_url}/maxresdefault.jpg", width: 200, height: 120, alt: 'Video Thumbnail' %>
                  <% end %>
                </td>
                <td><%= favorite.song.title %></td>
                <td><%= favorite.song.artist_name %></td>
                <td><%= favorite.song.cover %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="item__paginate">
          <%= paginate @favorites %>
        </div>
      <% else %>
        <%= t('.no_songs_message') %>
      <% end %>
    </div>
  </div>
</div>