<div class="container">
  <div class="row">
    <div class="mt-3">
      <h1><%= t('.title') %></h1>
      <div class="col-md-8 offset-md-4 col-lg-6 offset-lg-4 ms-auto">
        <%= render 'layouts/search_form', url: songs_path %>
      </div>
      <% if @songs.present? %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"><%= t('.thumbnail') %></th>
              <th scope="col"><%= t('.video_title') %></th>
              <th scope="col"><%= t('.artist_name') %></th>
              <th scope="col"><%= t('.cover') %></th>
            </tr>
          </thead>
          <tbody>
            <%= render @songs %>
          </tbody>
        </table>
        <div class="item__paginate">
          <%= paginate @songs %>
        </div>
      <% else %>
        <%= t('.no_songs_message') %>
      <% end %>
    </div>
  </div>
</div>
