<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <%= link_to admin_root_path, class: 'brand-link' do %>
    <%= image_tag current_user.icon.url, class: 'brand-image img-circle elevation-3' %>
    <span class="brand-text font-weight-light">AdminLTE 3</span>
  <% end %>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      
      <div class="info">
        
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <%= link_to admin_users_path, class: "nav-link" do %>
            <i class="nav-icon far fa-user"></i>
            <%= t('admin.sidebar.user') %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_vtubers_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-microphone"></i>
            <%= t('admin.sidebar.vtuber') %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_songs_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-music"></i>
            <%= t('admin.sidebar.song') %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_members_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-building"></i>
            <%= t('admin.sidebar.member') %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_admin_instrument_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-guitar"></i>
            <%= t('admin.sidebar.instrument') %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_comments_path, class: "nav-link" do %>
            <i class="nav-icon far fa-comments"></i>
            <%= t('admin.sidebar.comment') %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_inquiries_path, class: "nav-link" do %>
            <i class="nav-icon far fa-envelope"></i>
            <%= t('admin.sidebar.inquiry') %>
          <% end %>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>