<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col"><%= t('.category') %></th>
              <th scope="col"><%= t('.name') %></th>
              <th scope="col"><%= t('.member_name') %></th>
              <th scope="col"><%= t('.url') %></th>
              <th scope="col"><%= t('.instrument') %></th>
              <th scope="col"><%= t('.request_user') %></th>
              <th scope="col"><%= t('.created_at') %></th>
            </tr>
            </thead>
            <tbody>
              <%= render partial: 'admin/dashboards/request', collection: @vtuber_requests %>
              <%= render partial: 'admin/dashboards/request', collection: @song_requests %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>