<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="table-responsive">
          <%= render 'admin/layouts/search_form', url: admin_users_path %>
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col"><%= t('.name') %></th>
              <th scope="col"><%= t('.role') %></th>
              <th scope="col"><%= t('.email') %></th>
              <th scope="col"><%= t('.created_at') %></th>
            </tr>
            </thead>
            <tbody>
              <%= render @users %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>