<header>
  <nav class="navbar navbar-dark bg-info py-4">
    <div class="container px-lg-5 d-flex justify-content-between align-items-center">
      <div class="col-md-9 offset-lg-1 ">
        <div class="text-start fw-bold font-monospace">
          <%= link_to "VtuberSongSearch", songs_path, class: "app-title navbar-brand" %>
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse order-3" id="navbarSupportedContent">
        <ul class="navbar-nav text-end ms-auto mb-2 mb-lg-0">
          <% if logged_in? %>
            <li class="nav-item text-end"><%= button_to t('defaults.logout'), logout_path, method: :delete, class: "nav-link active" %></li>
            <% if current_user && !current_user.guest? %>
              <li class="nav-item"><%= link_to t('defaults.user_edit'), edit_user_path(current_user), class: "nav-link active" %></li>
              <li class="nav-item"><%= link_to t('defaults.favorites'), favorites_songs_path, class: "nav-link active" %></li>
              <li class="nav-item"><%= link_to t('defaults.request'), new_request_path, class: "nav-link active" %></li>
            <% end %>
          <% else %>
            <li class="nav-item"><%= link_to t('defaults.login'), login_path, class: "nav-link active" %></li>
            <li class="nav-item"><%= link_to t('defaults.user_register'), new_user_path, class: "nav-link active" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>